<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body><h1>About Page</h1>
<P> <h3> What does this do? </h3> </P>
<P> This returns the text length (with and without spaces), word count and the number of times
    each english alphabet is repeated.</P>

<p> <h3> How do you use the API?</h3>  </p>
<p> curl --header "Content-Type: application/json" \
            --request POST \
            --data '{"text":"hello 2 times  "}' \
            https://127.0.0.1:5000/analyze </p>


<P> <h3> What Frameworks/Packages have been used?</h3></P>
<P> 1. Python Flask Microframework </P>

</body>
</html>